<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co-work Office Finder - Direction</title>
    <link rel="stylesheet" href="styles/office.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    <style>
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row">

            <div class="card col-md-6">
                
                <!-- Card for Current Location -->
                <div class="mb-3">
                    <div class="card-body">
                        <div class="content">
                            <h5 class="card-title">Current Location: </h5>
                            <p id="currentLocation" class="card-text"><%= currentLocation; %></p>
                        </div>    
                    </div>
                </div>

                <!-- Card for selected Cowork Office Details -->
                <div class="mb-3">
                    <div class="card-body">
                        <img id="officeImage" src="<%= image; %>" alt="Office" class="img-fluid mb-2">
                        <div class="content">
                            <h5 id="officeTitle" class="card-title"><%= title; %></h5>
                            <p id="officeAddress" class="card-text"><%= address; %></p>
                            <div class="utilization-text">
                                <span><%= ((currcap / maxcap) * 100).toFixed(0) %>% occupied (<%= currcap %>/<%= maxcap %>)</span>
                            </div>
                            <div class="utilization">
                                <div class="utilization-bar" style="width: <%= ((currcap / maxcap) * 100).toFixed(2) %>%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card for Distance, Duration, Estimated Arrival Time and Weather -->
            <div class="card col-md-3 p-3" style="border: 1px solid #ccc; border-radius: 10px;">              
                <div class="mb-3">
                    <label for="distance" class="form-label" style="margin-bottom: 0px"></label>Distance:</label>
                    <input type="text" id="distance" class="form-control form-control-sm" value="" style="background-color: lightgoldenrodyellow;" disabled>
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label" style="margin-bottom: 0px">Duration:</label>
                    <input type="text" id="duration" class="form-control form-control-sm" value="" style="background-color: lightgoldenrodyellow;" disabled>
                </div>
                <div class="mb-3">
                    <label for="estimatedArrivalTime" class="form-label" style="margin-bottom: 0px">Estimated Arrival Time:</label>
                    <input type="text" id="estimatedArrivalTime" class="form-control form-control-sm" value="" style="background-color: lightgoldenrodyellow;" disabled>
                </div>
            
                <div class="weather-info">
                    <div class="d-flex align-items-center mb-2">
                        <span id="weather" class="me-2" style="color: blue; font-size: 12px;"></span>
                        <img id="weatherimg" src="images/fair-day.gif" alt="Fair Weather" style="width: 32px; height: 32px;" class="me-1"> 
                        <span class="me-1">|</span>
                        <span style="font-size: 12px;">Now: </span>&nbsp;<span id="temperature" style="color: blue; font-size: 20px; font-weight: bold;"></span>
                    </div>
                    <div class="d-flex mb-2">
                        <span id="weatherperiod" style="color: grey; font-size: 10px;"></span>
                    </div>
                </div>
            </div>

            <!-- Card for Uset Input, i.e. Departure Date, Time and Mode of Transport -->
            <div class="card col-md-3 p-3" style="border: 1px solid #ccc; border-radius: 10px;"> 
                <div class="mb-3">
                    <label for="departureDate" class="form-label" style="margin-bottom: 0px">Departure Date:</label>
                    <input type="date" id="departureDate" class="form-control form-control-sm" style="background-color: lightcyan;" value="">
                </div>
                <div class="mb-3">
                    <label for="departureTime" class="form-label" style="margin-bottom: 0px">Departure Time:</label>
                    <input type="time" id="departureTime" class="form-control form-control-sm" style="background-color: lightcyan;" value="">
                </div> 
                <div class="mb-3">
                    <label for="modeOfTransport" class="form-label" style="margin-bottom: 0px">Mode of Transport:</label>
                    <select id="modeOfTransport" class="form-control form-control-sm" style="background-color: lightcyan;">
                        <option value="TRANSIT" selected="selected">Bus / MRT</option>
                        <option value="BICYCLING">Cycling</option>
                        <option value="DRIVING">Driving</option>
                        <option value="WALKING">Walking</option>
                    </select>
                </div> 
                <div class="mb-3">
                    <a id="showDirectionBtn" class="btn btn-primary form-control">Refresh</a>
                </div>                    
            </div>

        </div>
        
        <!-- Div for Google Map -->
        <div id="map"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY; %>"></script>
    <script src="office.js"></script>
</body>
</html>